@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css);
.App {
  text-align: center;
  background-color: orangered;
}

.navbar{
    padding: 12px;
    /* margin: 15px; */
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: bolder;   
}
.topbar {
  display: flex;
  justify-content: space-between ;
  font-size: larger;
  
  }
  .items{
    color: orangered;
  }
  .welcomepage img{
    height: 100vh;
    width: 100%;

  }
  .welcomepage{
    position: relative;
  }
.welcomepage > p {
  position: absolute;

  top: 10em;
  right: 2em;
  width: 40%;
  padding: 0.8em;
  font-weight: bolder;
  font-size: x-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: azure;
}
  
  .btn {
    background-color:white ;
    color: #000;
    
  }

.logo{
  color: orangered;
  font-size: 60px;
  font-weight: 200px;
  padding-right: 18em;
}
.meals{
  color: orangered
}

.card > img {
  height: 20vh;
  border-radius: 5px;
}
.card {
  border: none;

  min-width: 200px;
  max-width: 200px;
  margin: 0.5em;

  box-shadow: 0.04em 0.04em 0.2em black;
}
.recipes {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
}
.description {
  padding: 0.5em;
  text-align: center;

  font-weight: bolder;
}
.search {
  min-width: 200px;
  max-width: 200px;
  padding: 5px;

  overflow-y: scroll;
  background-color: rgb(24, 24, 24);
}
.search > li {
  list-style-type: none;
  padding: 0.2em 1em;
  font-weight: bolder;
  background-color:wheat;
  margin-top: 5px;
  transition: 1s;
}
li:hover {
  background-color: orangered;
  transform: scale(1.3);
}
.main {
  display: flex;
  align-items: flex-start;
}
.search::-webkit-scrollbar {
  background-color: transparent;
}
.search::-webkit-scrollbar-thumb {
  background-color: orangered;
  color: aliceblue;
  border-radius: 10px;
}
.bt{
  color: transparent;
}

.form-space{
  display: flex;
  width: 75%;
  margin: 12% auto;
  border: 2px solid ;
  align-items: center;
}
.form-img  {
  width: 50%;
}
.form-img img{
  /* height: 60vh; */
  width: 100%;
}
.details{
  font-weight: bolder;
  font-size: x-large;
  width: 50%;
  padding: 1em;;
}
.ingredients-img{
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.ingredients-img > img{
  width: 40%;
  border-radius: 12px;
  
}
.ingredients{
  display: flex;
  flex-wrap: wrap;
  padding: 5em;
  width: 50%;

}
.ingredient{
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ingredient > img{
  width: 100%;
}
.recipesdetails h1 ,h2{
  text-align: center;


}
.sentences {
  
  font-weight: bold;
}
.instructions {
  margin: 2em auto;
  padding: 2em;
  background: url("https://cdn.pixabay.com/photo/2016/05/26/14/11/chef-1417239_960_720.png") no-repeat center center;
  color: rgb(1, 1, 30);
  font-weight: 800px;
  font-size: x-large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.recipesdetails > button {
  background-color: rgb(4, 4, 42);
  border-radius: 13px;
  width: 10%;
  color: beige;
  border: none;
  transform: scale(1.5);
}